@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 1199px) {
    .practice-item h4 {
        font-size: 15px;
    }
}


@media screen and (max-width: 991px) {
    .carousel-caption {
        display: none;
    }
    .navbar-right {
        font-size: 12px;
    }
    .carousel .item {
        min-height: 350px;
    }
    .about-wrap {
        padding: 0 10px;
    }
    .subscribe {
        display: none;
    }
    .contact-style-1 {
        width: 100%;
    }
    .choose-us .bg-grey {
        width: 50%;
    }
    .practice-item h4 {
        margin-top: 1.429em;
    }
}
@media (max-width: 768px) {
    .blog-comments .comment:before {
        display: none;
    }

    .blog-comments .comment:after {
        width: 0;
        height: 0;
        top: -17px;
        left: 20px;
        content: " ";
        position: absolute;
        border-style: solid;
        border-width: 0 15px 17px 15px;
        border-color: transparent transparent #fff transparent;
    }
    .blog-post-quote {
        padding: 35px 25px;
    }

    .blog-post-quote p {
        font-size: 26px;
        line-height: 35px;
    }
}

@media screen and (max-width: 767px) {
    .row {
        margin-right: 15px;
        margin-left: 15px;
    }
}


@media screen and (max-width: 730px) {
    .team-item .overlay-content h4 {
        margin-top: 0;
    }
}

@media screen and (max-width: 669px) {
    .team-item .overlay-content h4 {
        margin-top: 3em;
    }
    .team-item .overlay-content p {
        display: none;
    }
}
@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}

@media screen and (max-width: 650px) {
  .tab-2 label {
    font-size: 0;
  }

  .tab-2 label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 588px) {
    .team-item .overlay-content h4 {
        margin-top: 1em;
    }
    .team-item .overlay-content {
        padding: 20px;
    }
    .contact-style-1 h3:before,
    .contact-style-1 h3:after {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    .p-w100 {
        width: 100%;
    }
    .header-topbar .icon-style-1 li:last-child {
        display: none;
    }
    
}
@media screen and (max-width: 545px) {
    .team-item .overlay-content {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .t-w100 {
        width: 100%;
    }
    .team-item .overlay-content p {
        display: block;
    }
    .team-item .overlay-content h4 {
        margin-top: 3em;
    }
    .team-item .overlay-content {
        padding: 30px;
    }

    .team-item .overlay-content {
        display: block;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

}


@media screen and (max-width: 650px) {
  .tab-2 label {
    font-size: 0;
  }

  .tab-2 label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 610px) {
  .error .content h2 {
        font-size: 15em;
    }
    .error .content p {
        line-height: 1.2;
    }

    .error .content {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

/* Large Mobile :480px. */


@media only screen and (min-width:430px) {
    
    .panel h4  {
        font-size: 14px !important;
    }

    .bg-grey {
        width: 100% !important;
        left: 0;
    }

}

@media screen and (max-width: 400px) {
  .tab-2 label {
    padding: 15px;
  }
}

@media screen and (max-width: 385px) {
  .icon-style-1 li {
    width: 30px;
  }
}

@media screen and (max-width: 331px) {
  
    .navbar-brand>img {
        width: 130px;
    }
}



