@charset "utf-8";

/* CSS Document 

Project Name:  Ligal Law - Corporate Business HTML5 Template     
Version:  1.0   
Author Name: BDCoder / Set PVT.
Support Email : 
Design By: Mahamudul Hasan 
Creation Date: 18 June 2017 

*****=====***** TABLE OF CONTENT *****=====*****

01. IMPORTED STYLE CSS
02. GENERAL CSS
03. Background Over Layer CSS
04. Section Title Css
05. Scrollup CSS
06. Header top Style Css
07. Navbar Style Css
08. Main Slider Style Css
09. About Style Css
10. Testimonal Style Css
11. Practice Style Css
12. Counter / Funfact Style Css
13. Progressber  Style Css
14. Service Style Css
15. Team Style Css
16. Choose Us Style Css
17. Blog Style Css
18. Contact Style Css
19. Footer Style Css
20. Error Style css
21. Gallery Style css
22. Inner style Css
23. Video style Css

*/

/*****=====*****=====*****=====*****=====
    01. IMPORTED STYLE CSS
=====*****=====*****=====*****=====*****/

/* GOOGLE FONTs */
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Noto+Serif|Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,700,700i');

/* OTHER IMPORTED CSS */
@import "hover.css";
@import "owl.css";
@import "font-awesome.min.css";
@import "animate.min.css";
@import "flaticon.css";
@import "pe-icon-7-stroke.css";
@import "stroke-gap.css";
@import "magnific-popup.css";
@import "fancyBox.css";
@import "bootstrap-dropdownhover.css";
@import "player.css";

/*****=====*****=====*****=====*****=====
    02. General CSS 
=====*****=====*****=====*****=====*****/

body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #676767;
}
/* Common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    color: #111111;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h6 {
    font-family: 'Noto Serif', serif;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.container,
.container-fluid{
    padding: 70px 0 50px;
}
.padding-none {
    padding-top: 0;
    padding-bottom: 0;
}
.padding-tb {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-bottom-none {
    padding-bottom: 0;
}
.mt-20 {
    margin-top: -20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px !important;
}
.bg-f8 {
    background-color: #F8F8F8;
}
.bg-transparent {
   background: transparent !important; 
}
.bg-defult {
    background: #002943;
}
.bg-defult-1 {
    background: rgba(0,41,67, .7)
}
.color-defult {
    color: #656433;
}
.border-1 {
    border: 1px solid #fff !important;
}
.hvr-rectangle-out:before {
    background: #656433;
}

/* Form CSS */

.form-control {
    resize: none;
    height: 40px;
    margin-bottom: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.form-control:focus {
    border-color: #002943;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
::-webkit-input-placeholder {
    color: #999 !important;
}
::-moz-placeholder {
    color: #999 !important;
}
:-ms-input-placeholder {
    color: #999 !important;
}
input:-moz-placeholder {
    color: #999 !important;
}

.small-line-border {
    position: relative;
}
.small-line-border::after {
    top: 15px;
    content: "";
    height: 2px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 70px;
    background: #656433;
}
.z-index-3 {
    z-index: 9;
}

/* Btn CSS */
.btn-simple {
    padding: 12px 30px;
    border-radius: 0;
    border: none;
    background: #002943;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-simple:hover {
    color: #ffffff;
    background: #500808;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-theme {
    padding: 12px 30px;
    border-radius: 0;
    border: none;
    background: #002943;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-theme:hover {
    color: #ffffff;
    background: #500808;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn {
    border-radius: 0;
}
.btn-theme {
    background: transparent;
    border: 1px solid #434200;
    color: #fff;
}
.btn-topbar {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 15px;
    font-size: 13px;
    margin-top: -1px;
    margin-right: 15px;
}
.btn-topbar:hover {
    border-color: #002943;
}
.hvr-shutter-out-vertical:before {
    background: #002943;
}

.btn-mid {
    padding: 10px 22px;
    font-family: 'Noto Serif', serif;
}

.color-333 {
    color: #333 !important;
}
.color-333:hover {
    color: #fff !important;
}
.color-white {
    color: #FFF !important;
}
.pt90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

/*****=====*****=====*****=====*****=====
    03. Background Over Layer CSS
=====*****=====*****=====*****=====*****/

.over-layer-black {
    position: relative;
}
.over-layer-black:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.over-layer-black-2 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}
.over-layer-white {
    position: relative;
}
.over-layer-white:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.9);
}


.preloader {
    position: fixed; 
    left: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: 999999; 
    background-color: #ffffff; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image: url('../img/preloder/1.gif');
}

/*****=====*****=====*****=====*****=====
    04. Section Title Css
=====*****=====*****=====*****=====*****/
.section-title {
    margin-bottom: 70px;
}
.mini-title {
    position: relative;
    margin-bottom: 50px;
}
.mini-title:before {
    top: 3em;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    width: 55px;
    background: #656433;
}


/*****=====*****=====*****=====*****=====
    05. Scrollup CSS
=====*****=====*****=====*****=====*****/

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: #434200;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}
.scrollup:hover{
    color:#656433;
}
/*****=====*****=====*****=====*****=====
    06. Header top Style Css
=====*****=====*****=====*****=====*****/

.header-topbar {
    background-color: #500808;
    padding: 15px 0;
    color: #fff;
}
.welcome-text p {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-family: 'Noto Serif', serif;
}

.icon-style-1 li {
    background: #002943;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon-style-1 li:hover {
    background: #022480;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icon-style-1 li a {
    color: #FFF;
    display: block;
}
.search-btn {
    cursor: pointer;
}

.search-item{
    position:fixed;
    left:0px;
    top:-100%;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.80);
    z-index:9999;
    visibility:hidden;
    opacity:0;
    overflow:auto;
    transition:all 700ms ease;
    -moz-transition:all 700ms ease;
    -webkit-transition:all 700ms ease;
    -ms-transition:all 700ms ease;
    -o-transition:all 700ms ease;
}

.search-item.search-visible{
    top:0;
    visibility:visible;
    opacity:1;
}

.search-item .search-close{
    position:absolute;
    right:5%;
    top:5%;
    font-size:60px;
    color:#ffffff;
    cursor:pointer;
    z-index:5;
}

.search-item .search-close:hover{
    opacity:0.70;   
}

.search-item .search-form{
    position:relative;
    padding:0px 15px 50px;
    padding-top:130px;
    max-width:1024px;
    margin:0 auto;  
}

.search-item .search-form fieldset{
    position:relative;
}

.search-item .search-form fieldset input[type="search"]{
    position:relative;
    height:120px;
    padding:20px 220px 20px 30px;
    background:#ffffff;
    line-height:30px;
    font-size:24px;
    color:#333;
}

.search-item .search-form fieldset input[type="submit"]{
    position:absolute;
    display:block;
    right:0px;
    top:0px;
    text-align:center;
    width:220px;
    height:120px;
    padding:20px 10px 20px 10px;
    color:#ffffff;
    background:#656433;
    line-height:30px;
    font-size:20px;
    text-transform:uppercase;
    border-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.search-item .search-form fieldset input[type="submit"]:hover{
    background: #002943;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*****=====*****=====*****=====*****=====
    07. Navbar Style Css
=====*****=====*****=====*****=====*****/
.main-navbar.no-bg {
    position: fixed;
    width: 100%;
    z-index: 3;
}
.main-navbar.no-bg .navbar-nav>li>a{
    color:#cdcdcd;
}
.main-navbar.no-bg.fixed-header  .navbar-nav>li>a{
    color:#777;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
    margin: 15px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.navbar-brand {
    padding: 0 15px;
}
.dropdown-menu>li>a {
    padding: 15px 20px;
    border-bottom: 1px dashed #002943;
}

.dropdown-menu>li:last-child>a {
    border-bottom: none;
}

.navbar-nav>li:first-child>.dropdown-menu {
    left: 0;
}

.dropdown-menu>li>a:hover{
    padding-left: 30px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #FFF;
    background-color: #002943;
}


.navbar-default.style-1 .navbar-nav>.active>a,
.navbar-default.style-1 .navbar-nav>.active>a:focus,
.navbar-default.style-1 .navbar-nav>.active>a:hover, 
.navbar-default.style-1 .navbar-nav>.open>a,
.navbar-default.style-1 .navbar-nav>.open>a:focus,
.navbar-default.style-1 .navbar-nav>.open>a:hover,
.navbar-default.style-1 .navbar-nav>li>a:hover {
    color: #FFF;
    position: relative;
    background-color: transparent;
}
.navbar-default.style-1 .navbar-nav>.active>a:after,
.navbar-default.style-1 .navbar-nav>.active>a:focus:after,
.navbar-default.style-1 .navbar-nav>.active>a:hover:after, 
.navbar-default.style-1 .navbar-nav>.open>a:after,
.navbar-default.style-1 .navbar-nav>.open>a:focus:after,
.navbar-default.style-1 .navbar-nav>.open>a:hover:after,
.navbar-default.style-1 .navbar-nav>li>a:hover:after{
    position: absolute;
    content: "";
    bottom: 0px;
    left: 15px;
    width: 25px;
    height: 2px;
    background-color: #656433;
    margin: auto;
    text-align: center;
}

.fixed-header .navbar-default.style-1 .navbar-nav>.active>a,
.fixed-header .navbar-default.style-1 .navbar-nav>.active>a:focus,
.fixed-header .navbar-default.style-1 .navbar-nav>.active>a:hover,
.fixed-header .navbar-default.style-1 .navbar-nav>.open>a,
.fixed-header .navbar-default.style-1 .navbar-nav>.open>a:focus,
.fixed-header .navbar-default.style-1 .navbar-nav>.open>a:hover,
.fixed-header .navbar-default.style-1 .navbar-nav>li>a:hover {
    color: #333;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #002943;
    border-color: #002943;
}
.navbar-brand.dis-none {
    display: none;
}
.fixed-header .navbar-brand.dis-block {
    display: none;
}
.fixed-header .navbar-brand.dis-none {
    display: block;
}

.dropdown-menu {
    padding: 0;
}
    
.fixed-header{ 
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #F1F1F1;
}


/*****=====*****=====*****=====*****=====
    08. Main Slider Style Css
=====*****=====*****=====*****=====*****/

.skyblue {
    background-image: url('../img/bg/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.deepskyblue {
    background-image: url('../img/bg/1.jpg');
    background-size: cover;
}
.darkerskyblue {
    background-image: url('../img/bg/3.jpg');
    background-size: cover;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    min-height: 650px;
    width:100%; 
}
.carousel-caption h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.carousel-caption h1 span {
    color: #656433;
    font-weight: 800;
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
}
.carousel-caption h3 {
    padding: .5em;
}
.carousel .icon-container {
    display: inline-block;
    font-size: 1.786em;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em; 
}
.carousel-caption {
    top: 30%;
}


.main-slider-bg {
    background: url('../img/bg/8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 150px;
}
.main-slider-bg h2,
.main-slider-bg p {
    color: #FFF;
}
.main-slider-bg h2 {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 35px;
    margin-top: 100px;
}
.main-slider-bg h2 span {
    color: #656433;
}

/* Animation delays */
.carousel-caption h1:first-child {
    animation-delay: 1s;
}
.carousel-caption p:nth-child(2) {
    animation-delay: 2s;
}
.carousel-caption a {
    animation-delay: 3s;
}
.owl-item .item {
    margin-right: 8px;
    margin-left: 8px;
}


.practices-carousel,
.team-carousel,
.event-carousel {
    position: relative;
}

.owl-controls .owl-prev {
  left: -70px;
  top: 43%;
  position: absolute;
}
.owl-controls .owl-next {
  right: -70px;
  top: 43%;
  position: absolute;
}

.owl-controls .owl-prev i {
  border: 1px solid #656433;
  color: #656433;
  font-size: 30px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  transition: all 0.5s ease-out 0s;
  width: 40px;
}
.owl-controls .owl-next i {
  border: 1px solid #656433;
  color: #656433;
  font-size: 30px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  width: 40px;
}
.owl-controls .owl-prev i:hover {
  transition: all 0.5s ease-out 0s;
  background: #656433;
  color: #ffffff;
}
.owl-controls .owl-next i:hover {
  transition: all 0.5s ease-out 0s;
  background: #656433;
  color: #ffffff;
}
.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}


.btn-slider {
    margin-top: 30px;
    border-color: #FFF;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-slider:hover {
    border-color: #002943;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


body {
    overflow-x: hidden !important;
}

/*****=====*****=====*****=====*****=====
    09. About Style Css
=====*****=====*****=====*****=====*****/

.about-wrap {
    padding: 50px 0;
}
.about-wrap p {
    margin-top: 20px;
    text-align: justify;
}
.about-wrap h3 {
    margin: 15px 0;
}
.btn-simple.hvr-shutter-in-vertical:before {
    background: #002943;
} 



.about-wrap-2 h3{
    position: relative;
    margin-bottom: 30px;
}
.about-wrap-2 h3::before {
    top: 1.8em;
    content: "";
    height: 2px;
    left: 0px;
    margin: auto;
    position: absolute;
    width: 55px;
    background: #656433;
}
.about-wrap-2 ul li ul {
    margin-top: 15px;
}
.about-wrap-2 ul:last-child {
    margin-right: 40px;
}
.about-wrap-2 ul li {
    font-size: 15px;
    padding: 5px 0;
}
.about-wrap-2 ul li span {
    color: #656433;
    margin-right: 5px;
    font-size: 17px;
}
.who-we-are {
    position: relative;
    overflow: hidden;
}

.about-wrap .service-item.style-1 {
    padding: 0;
    margin-top: 50px;
}
.about-wrap .service-item.style-1 p {
    text-align: start;
    margin-top: 12px;
}

/*****=====*****=====*****=====*****=====
    10. Testimonal Style Css
=====*****=====*****=====*****=====*****/
      
.testimonial-item blockquote {
    position: relative;
    padding: 40px 40px 40px 40px;
    font-size: 1.071em;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-weight: 300;
}

.testimonial-item blockquote:after {
    position: absolute;
    content: " ";
    top: 100%;
    left: 70px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-color: rgba(72, 71, 71, 0);
    border-top-color: #f8f8f8;
    border-right-width: 27px;
    border-left-width: 0px;
    border-bottom-width: 168px;
    border-top-width: 29px;

}
.testimonial-item .testimonial-author .author-img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.testimonial-item .testimonial-author h4 {
    padding-top: 15px;
}
.testimonial-item .testimonial-author h6 {
    text-transform: capitalize;
    color: #500808;
    font-weight: 300;
}
.testimonial-item .testimonial-author ul{
    list-style-type: none;
}
.testimonial-item .testimonial-author ul li{
    display: inline-block;
    color: #fbad1a;
}


/*****=====*****=====*****=====*****=====
    11. Practice Style Css
=====*****=====*****=====*****=====*****/

.practice-item {
    background: #002943;
    color: #fff;
    padding: 50px 20px 30px 20px;
    margin-bottom: 30px;
    transform: translateZ(0px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.practice-item h4 {
    margin-top: 1.429em;
}
.practice-item h4 a {
    color: #76753c;
}
.practice-item h4:hover a {
    color: #656433;
}
.practice-item:hover {
    background: #500808;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.practice-item::before, 
.practice-item::after {
    bottom: 0;
    content: "";
    left: 0;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
}
.practice-item::before {
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    transform: scaleY(0);
    transform-origin: 0 100% 0;
}
.practice-item::after {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    transform: scaleX(0);
    transform-origin: 100% 0 0;
}
.practice-item:hover::before {
    transform: scaleY(1);
}
.practice-item:hover::after {
    transform: scaleX(1);
}
.practice-item h4,
.practice-item p,
.practice-item a {
    z-index: 1;
}
.practice-item p {
    margin-bottom: 20px;
}

/* practice Style Two Css */
.practice-img a {
    display: inline-block;
    position: relative;
}

.practice-img a:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #002943;
    visibility: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.practice-item-1:hover .practice-img a:after {
    visibility: visible;
    opacity: .8;
}

.practice-img a span {
    font-size: 50px;
    position: absolute;
    top: 70%;
    left: 50%;
    color: #FFF;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.practice-item-1:hover .practice-img a span {
    visibility: visible;
    opacity: 1;
    top: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.practice-item-1 {
    background-color: #f8f8f8;
    margin-bottom: 30px;
    border-bottom: 2px solid #656433;
}
.practice-content h4 {
    margin-top: 15px;
    font-size: 16px;
}
.practice-content p {
    margin-bottom: 15px;
}
.practice-content h4 a {
    color: #002943;
}
.practice-content h4 a:hover {
    color: #656433;
}
.practice-content {
    padding: 10px;
}
.practice-content span {
    color: #656433;
}


.achievement-item {
    background-color: #002943;
    margin-bottom: 20px;
    padding: 20px;
}
.achievement-item h4 a {
   color: #727823;
}
.achievement-item h4:hover a {
   color: #656433;
}
.achievement-item p {
   color: #fff;
}

.event-carousel .practice-content ul {
    margin-top: 10px;
    margin-bottom: 20px;
}
.event-carousel .practice-content ul li {
    margin-bottom: 10px;
}
.event-carousel .practice-content ul li i {
    color: #656433;
    margin-right: 5px;
}
.event-carousel .btn-practice {
    color: #656433;
}
.event-carousel .btn-practice:hover {
    color: #500808;
    padding-left: 8px;
}

/*****=====*****=====*****=====*****=====
    12. Counter / Funfact Style Css
=====*****=====*****=====*****=====*****/

.counter-col {
    margin-bottom: 30px;
}
.counter-col i {
    font-size: 50px;
    color: #002943;
}
.start-count{
    font-size: 2.143em;
    padding: 15px 0;
    color: #656433;
}
.counter-col h4 {
    font-family: 'Noto Serif', serif;
    color: #002943;
}

/*****=====*****=====*****=====*****=====
    13. Progressber  Style Css
=====*****=====*****=====*****=====*****/

.skills{
  background-color:#ddd;
  width:100%;
  height:15px;
  position:relative;
  margin-bottom: 50px;
  margin-top: 30px;
}
.title-bar{
  position:absolute;
  top:-30px;
  margin:5px
}
.skills span {
  float:right;
  margin-top:-22px;
  margin-right:5px;
}

.skillbar-1,
.skillbar-2,
.skillbar-3,
.skillbar-4 {
  background-color: #656433;
  width:0px;
  height:15px;
}


/*****=====*****=====*****=====*****=====
    14. Service Style Css
=====*****=====*****=====*****=====*****/

.service-item  {
    padding: 20px 20px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-item i {
    font-size: 45px;
    color: #333;
    padding: 10px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-item:hover i {
    color: #FFF;
    background-color: #002943;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-item h4 {
    margin-top: 20px;
}
.service-item h4 a {
    color: #002943;
}
.service-item h4:hover a {
    color: #500808;
}

.service-item.style-1 {
    display: flex;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-item.style-1 i:before {
    font-size: 40px;
}
.service-item.style-1 i {
    font-size: 30px;
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-item.style-1:hover i {
    background: transparent;
}
.service-item.style-1 .content {
    padding-left: 1em;
}
.service-item.style-1 .content h5 {
    font-size: 16px;
}
.service-item.style-1 .content h5 a {
    color: #002943;
}

.service-item.style-1 .content h5:hover a {
    color: #500808;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-item.style-1:hover i {
    color: #656433;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/*****=====*****=====*****=====*****=====
    15. Team Style Css
=====*****=====*****=====*****=====*****/



.team-item {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
}
.team-item .overlay {
  border-bottom: 100px solid #002943;
  border-left: 100px solid transparent;
  bottom: 0;
  height: 0;
  opacity: .85;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}
.team-item:hover .overlay {
  border-bottom: 800px solid #000;
  border-left: 800px solid transparent;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.team-item .corner-overlay-content {
  bottom: 15px;
  color: #FFF;
  position: absolute;
  right: 15px;
  font-size: 1.286em;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.team-item:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.team-item .overlay-content {
  bottom: 0;
  color: #FFF;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.team-item .overlay-content h4 {
  color: #fff;
  margin-top: 3em;
}
.team-item .overlay-content h6 {
  border-bottom: 1px solid #FFF;
  padding: 0 0 12px;
  color: #656433;
}
.team-item .overlay-content p {
    margin-top: 20px;
    margin-bottom: 30px;
}
.team-item:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.team-content {
    padding: 30px 10px;
    background-color: #F8f8f8;
}
.team-content h4 a {
    color: #002943;
}

.clients-carousel img {
    padding: 21px;
    border: 1px solid #333;
    filter: blur(0px);
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.clients-carousel img:hover {
    filter: blur(1px);
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}


.team-details {
    background: #f5f5f5;
    padding: 30px;
}
.team-details address ul li {
    margin-bottom: 20px;
}
.team-details address ul li i {
    color: #FFF;
    background: #656433;
    padding: 10px;
    margin-right: 10px;
    font-size: 17px;
}
.team-details address ul li a {
    color: #656433;
}
.team-area {
    position: relative;
    z-index: 1;
}
.team-area .team-logo{
    position: absolute;
    opacity: .05;
    top: 5%;
    z-index: -1;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.team-details-content h2 a {
    color: #002943;
}
.team-details-content h6 {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    color: #656433;
}
.team-details-content p {
    margin-bottom: 20px;
}

.team-details-content .tab-2 #tab1:checked ~ #content1,
.team-details-content .tab-2 #tab2:checked ~ #content2,
.team-details-content .tab-2 #tab3:checked ~ #content3,
.team-details-content .tab-2 #tab4:checked ~ #content4 {
    background: #f5f5f5;
    padding: 15px;
}


.skills {
    margin-bottom: 70px;
}
.skills .title-bar h5 {
    text-transform: capitalize;
}

.skills.style-1 {
    margin-bottom: 50px;
}
.skills.style-1 h5{
    color: #FFF;
}

/*****=====*****=====*****=====*****=====
    16. Choose Us Style Css
=====*****=====*****=====*****=====*****/

.panel-default,
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-color: #002943;
}
.panel-title > a:before {
    float: right !important;
    font-family: 'Pe-icon-7-stroke';
    content:"\e644";
    padding-right: 5px;
    font-size: 1.714em;
    margin-top: -3px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\e623";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-default>.panel-heading {
    background: transparent;
    color: #002943;
    padding: 25px 20px;
} 
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
    color: #656433;
}

    
/* Choose Us style two Style Css */

.choose-us-item {
    color: #fff;
}
.choose-us-item h3 {
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 30px;
    position: relative;
}
.choose-us-item p {
    margin-bottom: 40px;
}
.choose-us-item h3:before {
    top: 1.8em;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    width: 55px;
    background: #656433;
}
.bg-column {
    z-index: 1;
}
.choose-us {
    position:relative;
}

.choose-us .bg-grey {
    position:absolute;
    left:90px;
    top:0px;
    width:48%;
    height:100%;
    background-color:#111;
    z-index:1;
    transform:skewX(-14deg);
    -webkit-transform:skewX(-14deg);
    -moz-transform:skewX(-14deg);
    -ms-transform:skewX(-14deg);
    -o-transform:skewX(-14deg);
}

.choose-us .bg-image{
    position:absolute;
    right:0px;
    top:0px;
    width:52%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    z-index:0;
}


.choose-us .item-1{
    position:relative;
    padding-left:100px;
    margin-bottom:30px;
    padding-right:50px; 
}

.choose-us .item-1 .text {
    position: absolute;
    left: 15px;
    font-style: italic;
    color: #FFF;
    font-size: 60px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.choose-us .item-1:hover .text{
    color: #656433;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}

.choose-us .item-1 h4 {
    text-transform: capitalize;
}
.choose-us .item-1 h4 a{
    color: #656433;
}


.divider h4 {
    color: #fff;
    line-height: 1.8em;
}
.divider h4 span {
    color: #656433;
}
.btn-contact {
    background: #656433;
}
.hvr-underline-from-left:before {
    background: #002943;
}


.subscribe {
    text-align: center;
    background-color: #f8f8f8;
    padding: 40px 20px;
}
.subscribe-style-1 {
    margin-top: 2.4em;
}

.subscribe h3{
    color: #002943;
}
.subscribe p{
    margin-bottom: 30px;
}

.subscribe-2 {
    background: transparent;
    padding: 0;
}
.subscribe-2 h3 {
    color: #FFF;
    margin-bottom: 30px;
}

.subscribe .form-control{
    font-size: 16px;
    letter-spacing: 0.03em;
    background: #fff;
    border: 1px solid #e0e0e0;
    min-width: 300px;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
    height: 54px;
    padding: 0 20px;
    transition: all 0.3s;
    margin-bottom: 0;
}

.subscribe .form-control:focus{
    border-color: #656433;
}

.subscribe .subscribe-btn{
    letter-spacing: 0.03em;
    color: #fff;
    background: #656433;
    font-size: 16px;
    height: 54px;
    border: none;
    border-radius: 0;
    padding:0 30px;
    outline: 0;
    font-weight: 100;
    margin-left: -4px;
}

.subscribe .subscribe-btn:focus{
    background: #656433;
    color: #fff;
    box-shadow: none;
    outline: 0;
}

.tab-2 {
  background: #fff;
  margin-bottom: 40px;
}

#content1,
#content2,
#content3,
#content4 {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-2 input {
  display: none;
}

.tab-2 label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #777;
  border: 1px solid transparent;
}

.tab-2 label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-2 label[for*='1']:before {
  content: '';
}

.tab-2 label[for*='2']:before {
  content: '';
}

.tab-2 label[for*='3']:before {
  content: '';
}


.tab-2 label:hover {
  color: #777;
  cursor: pointer;
}

.tab-2 input:checked + label {
  color: #333;
  border: 1px solid #ddd;
  border-top: 2px solid #656433;
  border-bottom: 1px solid #fff;
}

.tab-2 #tab1:checked ~ #content1,
.tab-2 #tab2:checked ~ #content2,
.tab-2 #tab3:checked ~ #content3,
.tab-2 #tab4:checked ~ #content4 {
  display: block;
}

/*****=====*****=====*****=====*****=====
    17. Blog Style Css
=====*****=====*****=====*****=====*****/

.blog-item {
    margin-bottom: 30px;
}
.blog-item .blog-content h4:hover {
    color: #500808;
}
.blog-img {
    position: relative;
    overflow: hidden;
    filter: blur(0px);
    opacity: 0.95;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.blog-item:hover .blog-img {
    -webkit-transform: scale3d(0.97,0.97,0.1);
    transform: scale3d(0.97,0.97,0.1);
    filter: blur(2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.blog-img .blog-event-date {
    position: absolute;
    width: 65px;
    height: 70px;
    text-align: center;
    background: #002943;
    left: 10px;
    bottom: 0;
}
.blog-img .blog-event-date h3 {
    color: #fff;
    margin: 0;
    padding: 0.5em 0 0;
}
.blog-img .blog-event-date h3 small {
    color: #fff;
    display: block;
}
.blog-content {
    position: relative;
}
.blog-meta {
    padding: 1em 0 1em;
}
.blog-meta a {
    color: #a6a6a6;
    padding-right: 13px;
    font-style: italic;
}
.blog-meta a + a:before {
    content: '';
    background: #a6a6a6;
    margin-right: 15px;
    width: 1px;
    height: 14px;
    bottom: -3px;
    position: relative;
    display: inline-block;
}
.blog-admin {
  padding: 20px;
  background: #fff;
}

.blog-admin img {
  float: left;
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.blog-admin .blog-admin-desc {
  overflow: hidden;
}

.blog-admin .blog-admin-desc h5 {
  float: left;
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-transform: capitalize;
}

.blog-admin .blog-admin-desc ul {
  float: right;
}

.blog-admin .blog-admin-desc p {
  color: #555;
}

/* Blog Comments */
.blog-comments img {
  width: 80px;
  height: auto;
}

.blog-comments .comment {
  background: #fff;
  padding: 20px 30px;
  position: relative;
}

.blog-comments .comment:before {
  width: 0;
  height: 0;
  top: 20px;
  left: -17px;
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 15px 17px 15px 0;
  border-color: transparent #fff transparent transparent;
}

.blog-comments .comment h3 {
  margin: 0 0 10px;
}

.blog-comments .comment span {
  color: #555;
  float: right;
  font-size: 13px;
}

.blog-comments .comment p {
  color: #555;
}

/*Comments Reply*/
.blog-comments.blog-comments-reply {
  margin-left: 70px;
}

.blog-info li a,
.blog-post h3 a {
    color: #002943;
}
.blog-post h3,
.blog-info {
    padding-top: 15px;
}
.blog-post blockquote {
    position: relative;
    padding: 40px 40px 40px 40px;
    font-size: 1.071em;
    background-color: #FFF;
    border-radius: 5px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}
.blog-admin-desc ul li a {
    color: #002943;
}
.blog-admin-desc ul li a:hover {
    color: #656433;
}
.comment h5 span a {
    color: #656433;
}
.comment h5 span a:hover {
    color: #002943;
}

/* Blog Sideber Style Css*/ 
.sideber-title {
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    padding: 20px 0 10px 10px;
    border-left: 2px solid #333;
}
.sideber-title h4 {
    margin-left: 10px;
    text-transform: capitalize;
}
.sideber-content{
    margin-left: 10px;
}
.sideber-content ul li {
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dashed #002943;
}
.sideber-content ul li:hover {
    padding-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sideber-content ul li a {
    color: #333;
}
.sideber-content ul li a i {
    color: #656433;
    margin-right: 5px;
}
.sideber-content ul li:hover a {
    color: #656433;
}
.blog-sideber .widget {
    padding-bottom: 40px;
}
.tags li {
    background: #002943;
    color: #fff;
    padding:5px !important;
    margin-bottom: 5px;
}
.tags li a {
    color: #fff !important;
}.sideber-content.about{
    margin-left: 0;
}
.sideber-content.about p i {
    color: #656433
}
.sideber-content .testimonial-carousel-one{
    background: #fff;
    padding: 10px;
}

.blog-search input,
.blog-search button {
    height: 60px;
    float: left;
}

.blog-search input {
    padding-left: 25px;
    font-size: 15px;
    color: #656433;
    width: calc(100% - 65px);
    border: 1px solid #eaeaea !important;
    border-right: none !important;
}

.blog-search input:focus {
    border: 1px solid #656433 !important;
    border-right: none !important;
}

.blog-search button {
    width: 65px;
    background: #002943 !important;
    line-height: 65px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-search input:focus + button,
.blog-search button:hover {
    background: #656433 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/*****=====*****=====*****=====*****=====
    18. Contact Style Css
=====*****=====*****=====*****=====*****/

.contact-style-1 {
    background: #f8f8f8;
    padding: 40px 10px 30px 10px;
    display: inline-block;
    position: relative;
}
.contact-style-1 h3 {
    text-align: center;
    color: #002943
}
.contact-style-1 p {
    text-align: center;
    margin-bottom: 30px;
}
.contact-style-1:before{
    content: "\f10d";
    font-family: FontAwesome;
    color: #e6d6c8;
    font-size: 400px;
    font-style: normal;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    margin: 0 auto;
    opacity: 0.25;
}
.contact-style-1 h3 {
    position: relative;
}
.contact-style-1 h3:before {
    top: .4em;
    content: "";
    height: 2px;
    left: 1.5em;
    margin: auto;
    position: absolute;
    width: 70px;
    background: #500808;
}
.contact-style-1 h3:after {
    top: .4em;
    content: "";
    height: 2px;
    right: 1.5em;
    margin: auto;
    position: absolute;
    width: 70px;
    background: #500808;
}
.form-group input,
.form-group textarea {
    background: transparent;
    border-color: #999;
}

/*****=====*****=====*****=====*****=====
    19. Footer Style Css
=====*****=====*****=====*****=====*****/

.footer-item-1,
.footer-item-2,
.footer-item-3 {
    margin-bottom: 30px;
}
.footer-item-1 img {
    width: auto;
}
.footer-item-1 p {
    margin-top: 20px;
    color: #FFF;
    font-weight: lighter;
}
.footer-item-2 h4,
.footer-item-3 h4 {
    color: #fff;
    position: relative;
    margin-bottom: 40px;
}
.footer-item-2 h4:before,
.footer-item-3 h4:before {
    color: #fff;
    top: 1.5em;
    content: "";
    height: 2px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 50px;
    background: #656433;
}
.footer-item-3 p {
    color: #fff;
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.8em;
}
.footer-item-3 ul li {
    margin-bottom: 13px;
    color: #fff;
}
.footer-item-3 ul li i {
    padding-right: 10px;
    font-size: 17px;
    color: #656433;
    font-weight: bolder;
}
.footer-item-3 ul li a {
    color: #FFF;
}
.footer-item-3 ul li a:hover {
    color: #656433;
}
.team-name li {
    border-bottom: 1px dashed #002943;
    padding: 5px 0px;
    color: #fff;
}
.team-name li a {
    color: #fff;
    font-weight: 100;
}
.team-name li:hover a {
    color: #656433;
}

.team-name li i {
    padding-right: 10px;
}

.news-area {
    margin-bottom: 10px;
}

.news-img {
    float: left;
    padding-top: 5px;
    padding-right: 15px;
}

.news-img a {
    display: inline-block;
    position: relative;
}

.news-img a:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #002943;
    visibility: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.news-area:hover .news-img a:after {
    visibility: visible;
    opacity: .8;
}

.news-img a span {
    font-size: 22px;
    position: absolute;
    top: 70%;
    left: 50%;
    color: #656433;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.news-area:hover .news-img a span {
    visibility: visible;
    opacity: 1;
    top: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-content a {
    color: #FFF;
}
.news-content a:hover {
    color: #656433;
}
.news-content span {
    color: #727823;
}
.copy-right p {
    color: #fff;
    letter-spacing: 1px;
}
.copy-right p a {
    color: #656433;
}

.copy-right p a:hover {
    color: #434200;
    font-weight: 600;
}


/*****=====*****=====*****=====*****=====
    20. Error Style css
=====*****=====*****=====*****=====*****/

.error {
    height: 100vh;
}
.error .content {
    padding-top: 7em;
    padding-bottom: 7em;
}
.error .content h2 {
    font-size: 30em;
    position: relative;
   font-family: 'Cookie', cursive;
   line-height: .7;
}
.error .content h2 span {
    color: #656433;
}
.error .content p {
    font-size: 1.4em;
    margin-bottom: 2em;
    line-height: 0.8;
}

#map {
    width: auto;
    height: 460px;
}

/*****=====*****=====*****=====*****=====
    21. Gallery Style css
=====*****=====*****=====*****=====*****/
.gallery {
    margin: 20px 0;
}

.gallery .gallery-item {
    float: left;
}

.gallery .gallery-item .thumb {
    position: relative;
}

.gallery .gallery-item .thumb img{
    width: 100%;
    height: auto;
    display: block;
}

.gallery-hover {
    position: absolute;
    background-color: rgba(101,100,51, 0.90);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.gallery-item .gallery-hover {
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
}
.gallery-item:hover .gallery-hover {
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.gallery-item:hover .gallery-hover .gallery-info,
.gallery-item:hover .gallery-hover .gallery-btn {
    width: 100%;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.gallery-hover .gallery-info {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 100% !important;
}


.gallery-hover .gallery-btn {
    position: absolute;
    margin-top: -55px;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    text-align: center;
    font-size: 30px;
}

.gallery-info,
.gallery-info h4 a,
.gallery-hover .gallery-btn a {
    text-align: center;
    color: #FFF;
}
.gallery-info {
    opacity: 0;
}

.gallery-info h4 {
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gallery-info p {
    font-size:12px;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    color: #757575;
}

.gallery-info a,
.gallery-title a {
    color: #333;
}

/*gutter*/

.gallery.gutter .gallery-item {
    padding: 10px;
}


/*portfolio 2 grid*/

.gallery.col-2 .gallery-item {
    width: 49.99%;
}


/*portfolio 3 grid*/

.gallery.col-3 .gallery-item {
    width: 33.3333333%;
}

/*portfolio 4 grid*/

.gallery.col-4 .gallery-item {
    width: 24.98%;
}

/*portfolio 5 grid*/

.gallery.col-5 .gallery-item {
    width: 19.99%;
}

/*portfolio 6 grid*/

.gallery.col-6 .gallery-item {
    width: 16.666666667%;
}

.gallery-filter {
    margin:0px;
    padding: 20px;
    list-style: none;
}

.gallery-filter li {
    display: inline-block;
}

.gallery-filter li a {
    color: #222;
    margin: 0 10px;
    font-size: 14px;
    padding: 10px;
}


.gallery-filter li a:hover,
.gallery-filter li.active a{
    color: #FFF;
    background-color: #656433;
}

/*****=====*****=====*****=====*****=====
    22. Inner style Css
=====*****=====*****=====*****=====*****/


.inner-bg {
    position: relative;
}
.inner-bg h3 {
    color: #FFF;
    margin-bottom: 40px;
}
.inner-bg p {
    font-size: 15px;
}
.inner-bg i {
    position: absolute;
    color: #FFF;
    font-size: 80px;
    right: 5%;
    top: 5%;
}
.inner-bg p span {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.inner-bg p a {
    color: #676767;
}
.inner-bg p a:hover {
    color: #656433;
}

.practice-item-1.style-one {
    border: transparent;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
}
.practice-item-1.style-one .practice-img {
    border: 1px solid #eee;
}
.section-title.title {
    position: relative;
}

.section-title.title::after {
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    bottom: -15px;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 150px;
    background: #656433;
}

.section-title.title::before {
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    bottom: -25px;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 120px;
    background: #656433;
}

/*****=====*****=====*****=====*****=====
    23. video style Css
=====*****=====*****=====*****=====*****/

.video-area {
    position: relative;
    overflow: hidden;
}
.video-area h2,
.video-area p {
    color: #FFF;
}
.video-area h2 span {
    color: #656433;
}
.video-area .container {
    padding-top: 200px;
    padding-bottom: 200px;
}
.video-bg {
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
}
.video-bg .video {
  height: 100%;
  left: 0;
  margin: 0!important;
  position: relative;
  top: 0;
  width: 100%;
}
.video-bg .video .mbYTP_wrapper {
  z-index: -1 !important;
}
